.btns_cont_videoPage{
    display: flex;
    flex-grow: 5;
    flex-direction: row-reverse;
}

.btn_videoPage{
    margin: auto 0;
    display: flex;
}

.like_videoPage{
    cursor: pointer;
    margin: 0.5rem;
    display: flex;
}

.btns_videoPage{
margin: auto 0.5rem;
}